<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-button routerLink="/postes" color="accent">
            <mat-icon aria-hidden="false" aria-label="Retour à l'accueil">
                fireplace
            </mat-icon> Ridiculus
        </button>
        <span class="spacer"></span>
        <button mat-button routerLink="/postes">
            <mat-icon aria-hidden="false" aria-label="Parcourir tous les postes">
                list
            </mat-icon> parcourir tous les postes
        </button>&nbsp;
        <button mat-button routerLink="/new-poste">
            <mat-icon aria-hidden="false" aria-label="Créer un nouveau post">
                create
            </mat-icon> créer un nouveau poste
        </button>&nbsp;
        <button mat-button routerLink="/offline-postes">
            <mat-icon aria-hidden="false" aria-label="Postes accessible hors ligne">
                power_off
            </mat-icon> postes accessible hors ligne
        </button>
    </mat-toolbar-row>
</mat-toolbar>