.poste_vote_info {
    display: flex;
    width: 100%;
}
.vote {
    text-align: left;
    width: 100%;
}

.more_info {
    text-align: right;
    width: 100%;
}

.quality_mark {
    padding: 0 10px 0 10px;
}

.text-style{
    white-space: pre-wrap;
    text-align: justify;
}