<mat-progress-bar *ngIf="loadingBuff > 0" color="accent" mode="indeterminate"></mat-progress-bar>
<mat-card>
    <form [formGroup]="filterForm" class="form-full-width">

        <mat-form-field class="field-full-width">
            <mat-label>rechercher un poste</mat-label>

            <input matInput cdkFocusInitial #filter formControlName="filter" autocomplete="off">
            <button mat-button matPrefix mat-icon-button aria-label="Clear"
                (click)="search(filterForm.value)">
                <mat-icon>search</mat-icon>
            </button>
            <button mat-button *ngIf="filter.value" matSuffix mat-icon-button aria-label="Clear"
                (click)="filterForm.reset()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </form>

    <div class="example-container">

        <table mat-table [dataSource]="dataSource" matSort>

            <caption hidden>Liste des postes</caption>

            <ng-container matColumnDef="vote">
                <th id="row_vote" mat-header-cell *matHeaderCellDef mat-sort-header> Votes </th>
                <td mat-cell *matCellDef="let element"> {{ element.vote }} </td>
            </ng-container>

            <ng-container matColumnDef="title">
                <th id="row_title" mat-header-cell *matHeaderCellDef mat-sort-header> Titre </th>
                <td mat-cell *matCellDef="let element"> {{ element.title }} </td>
            </ng-container>

            <ng-container matColumnDef="author">
                <th id="row_author" mat-header-cell *matHeaderCellDef mat-sort-header> Auteur </th>
                <td mat-cell *matCellDef="let element"> {{ element.author }} </td>
            </ng-container>

            <ng-container matColumnDef="dateUpdated">
                <th id="row_date_update" mat-header-cell *matHeaderCellDef mat-sort-header> Dernière mise à jour </th>
                <td mat-cell *matCellDef="let element"> {{ element.dateUpdated | date:'short' }} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="example-element-row"
                [routerLink]="['/postes/', row._id]"></tr>


        </table>

        <mat-paginator [pageSizeOptions]="[20]" showFirstLastButtons></mat-paginator>
    </div>
</mat-card>